* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

.bg-light {
  background-color: #fff !important;
}

.navbar-brand {
  color: #6070FF !important;
}

.nav-link {
  color: #344563 !important;
}

.hero {
  background-image: url(img/header.svg);
}

.hero-header {
  margin: 8em 0;
}

.hero-header h1 {
  font-size: 3.5em;
  color: #091E42;
}

.hero-header p {
  color: #344563;
}


